* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    border-radius: 1em;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: 20px;
}

#forma {
    width: 500px;
    margin: auto;
    text-align: center;
    font-size: 25px;
}

table {
    width: 100%;
    color: rgb(255, 255, 255);
}

th {
    color:white;
    font-size: 25px;
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: rgb(88, 88, 88);
}

tr:nth-child(odd) {
    background-color: rgb(59, 59, 59);
}

#submit {
    background-color: rgb(48, 48, 48);
    width: 200px;
    border-radius: 1em;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid white;
    color: white;
}