 .yellow{
    background-color: yellow;
}
.druga tr :nth-child(3){
    background-color: yellow;
}
table, th, td{
    border:1px solid black;
}
table{
    border-collapse: collapse; 
    /* uklanja prostor izmedju bordera celija  */
}