h2
{
    text-align: center;
    color: green;
}
body
{
    background-color:honeydew;
}
img
{
    height: 300px;
    width: 400px;
    border-style: double;
    border-color: indigo;
}
.kk
{
    color:indigo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}
#unique
{
    color:lawngreen;
}
a
{
    color:red;
}
a:hover
{
    color:green;
}